
.cover {
    background-image: url("../img/head.jpg") !important;
    height:650px !important;
}
.about-cover {
    background-color: rgb(123, 15, 15) !important;
    height:350px;
}
.grad {
    height:410px;
    background-image: url("../img/ournews.png") !important;
}
.welcome-title-head{
    color:rgb(178, 25, 25);
    font-weight: bold;
    font-size:140%;
    margin-top: 30px;
}
.school-title-head{
    color:rgb(178, 25, 25);
    font-weight: bold;
    font-size:400%;
    margin-top: -17px;
}
.fahradyan-title-head{
    color:rgb(198, 167, 41);
    font-weight: bold;
    font-size:220%;
    width:103%;
    margin-top: -7px;
}
.description-head{
    width:85%;
    margin-top: -14px;
    color:#262626;
}
.div-button-head{
    background:red;
    width: 72%;
    height: 12%;
}
.button-head{
    background: -webkit-linear-gradient(rgb(206, 177, 60), rgb(191, 158, 23))!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(206, 177, 60), rgb(191, 158, 23))!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(206, 177, 60), rgb(191, 158, 23))!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(206, 177, 60), rgb(191, 158, 23))!important; /* Standard syntax */
    color: white;
    border-radius:0px !important;
    width: 42%;
    height: 95%;
    font-size: 157% !important;
    border-bottom: 3px solid #5A0A0A !important;

}
.fahradyan-img{
    margin-top:1%;
}
.about-cover-div{
    margin-top:-10%;
}
.about-title{
    color:white;
    font-weight: bold;
    font-size:200%;
}
.about-description {
    width: 100%;
    color: white;
}
.about-button{
    width:48%;
    font-size:128% !important;
    background-color:white;
    color:#272727;
    border-radius:0px !important;
}
.video-cover{

   margin-top:-25px;
}
.video-bottom-border{
    height:290px;
    border-bottom:2px solid #B21919;
    margin-top: 2%;
}
.title-video{
    color:rgb(91, 10, 10);
    font-weight: bold;
    font-size:300%;
}
.secondary-title-video{
    font-weight: bold;
    font-size:150%;
    margin-top: -10px;
}
.description-video{
    width:100%;
}
.button-video{
    background-color:white;
    color:#B21919 !important;
    border-radius:0px !important;
    border-color:black !important;
}
.clear{
    clear:both
}
.cover-photo{
    height:460px;
    background-color:white
}
.title-head-our-news{
    font-weight: bold;
    font-size:200%;
    color:white
}
.link-our-news{
    color:white;
    margin-left:2%;
    font-weight: bold;
    font-size:140%;
}
.bottom-border-our-news{
    border-bottom: 1px solid white;
}
.title-our-news{
    color:white;
    font-weight: bold;
    font-size:150%;
    margin-top: -7px;
    width:103%
}
.secondary-title-our-news{
    color:rgb(198, 167, 41);
    font-size:150%;
    margin-top: -7px;
    width:103%
}
.description-our-news{
    color:white;

    width:100%;

}
.button-our-news{
    font-size:150%;
    color:white
}
.phone-number{
    color:white;
    font-size:140%;
}
.by-Astudio{
    color:white;
    font-size:83%;
}
.footer-panel{
    margin-top:10px;
}
.by-Astudio-panel{
    margin-top:10px;
}
.about-img{
    border-top: 3px solid rgb(178, 25, 25); !important;
}
/*school*/
.img-school-page{
    width:100%;
    height:100%;
}
.title-school-page{
    color:rgb(178, 25, 25);
}
.description-school-page{
    margin-top:3%;
}
.left{
    float:left
}
.right{
    float:right
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.carousel-inner{
    width:95%;
}
.carousel-arrow{
    height:100%;
    float:left;
}
.carousel-arrow-left{
    width:25px;
    height:25px;
    background-color:red;
}
.carousel-arrow-right{
    width:25px;
    height:25px;
    background-color:yellow;

}